<h4>{{duration}}</h4>
{{#if showStartBtn}}
<button type="submit" {{bind-attr class=":btn :btn-sm isRunning:btn-default:btn-primary"}} class="btn btn-sm btn-primary" {{action "start"}}>Start</button>
{{/if}}
{{#if stopRequired}}
<button type="button" {{bind-attr class=":btn :btn-sm isRunning:btn-primary:btn-default"}} {{action "stop" true}}>Stop</button>
{{/if}}
{{#if isStopWatch}}
<button type="button" class="btn btn-sm btn-default" {{action "pause"}}>{{#if isRunning}}Pause{{else}}Cont.{{/if}}</button>
{{/if}}
