<h4>{{duration}}</h4>
{{#if showStartBtn}}
<button type="submit" class="btn btn-sm btn-default" {{action "start"}}>Start</button>
{{/if}}
{{#if stopRequired}}
<button type="button" class="btn btn-sm btn-default" {{action "stop" true}}>Stop</button>
{{/if}}
{{#if isStopWatch}}
<button type="button" class="btn btn-sm btn-default" {{action "pause"}}>{{#if isRunning}}Pause{{else}}Resume{{/if}}</button>
{{/if}}
